<template>
  <v-layout row>
    <v-flex md3>
      <v-form>
        <v-layout row>
          <v-col sm="6">
            <v-img max-height="150" max-width="250" :src="image"
              ><input
                type="file"
                accept="image/*"
                @change="fileChosen"
                capture="camera"
                id="upload_input"
            /></v-img>
          </v-col>
          <v-col sm="6">
            <v-btn color="primary" rounded @click="save()">Saglabāt</v-btn>
          </v-col>
        </v-layout>
        <template v-for="prop in props">
          <v-text-field
            :label="prop.name"
            v-if="prop.propertyType == 'range' || prop.propertyType == 'number'"
            v-model="prop.value"
            :key="`range` + prop.id"
          ></v-text-field>
          <v-select
            :items="prop.stringValues"
            :key="`select` + prop.id"
            v-model="prop.value"
            v-if="prop.propertyType == 'category'"
            :label="prop.name"
          ></v-select>
        </template>
        <v-select
          :items="locations"
          v-model="location"
          item-text="name"
          item-value="id"
          label="Atrodas"
        ></v-select>
        <!-- <v-text-field v-model="name" label="Nosaukums"></v-text-field> -->
        <v-btn color="primary" rounded @click="save()">Saglabāt</v-btn>
        <v-dialog v-model="dialogDel" width="500">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="red lighten-2"
              dark
              v-bind="attrs"
              v-on="on"
              class="ml-15"
            >
              Dzēst
            </v-btn>
          </template>
          <v-card>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" text @click="del()"> Dzēst </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import router from "../router";
import { dataURItoBlob } from "../utils";

export default {
  name: "clothe",
  props: {
    id: {
      type: String,
    },
  },
  mixins: [],
  components: {},
  data: () => {
    return {
      name: null,
      props: [],
      locations: [],
      location: null,
      image: null,
      imageWasChosen: false,
      dialogDel: false,
    };
  },
  methods: {
    async fill() {
      this.imageWasChosen = false;
      await this.fillProps();
      await this.fillLocs();
      if (this.id) {
        await this.fillClothe();
        await this.fillPropValues();
      } else {
        this.location = this.$route.query.location;
        this.props.find(
          (p) => p.name == "Kategorija"
        ).value = this.$route.query.category;
        document.getElementById('upload_input').click();
      }
      console.log();
    },
    async fillClothe() {
      const res = await axios.post("/api/", {
        operationName: "getItem",
        variables: { id: this.id },
        query:
          "query getItem($id: ID!) {\n  Clothe(where: {id: $id}) {\n    _label_\n    id\n    name\n    file {\n      id\n      path\n      filename\n      originalFilename\n      mimetype\n      encoding\n      publicUrl\n      __typename\n    }\n    location {\n      id\n      _label_\n      __typename\n    }\n    inUse\n    clotheProps {\n      id\n      _label_\n      __typename\n    }\n    __typename\n  }\n}\n",
      });
      this.location = res.data.data.Clothe.location.id;
      this.name = res.data.data.Clothe.name;
      this.image =
        axios.defaults.baseURL + "../../" + res.data.data.Clothe.file.publicUrl;
    },
    async fillPropValues() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          where: {
            clothe: { id: this.id },
          },
          search: "",
          sortBy: "stringValue_ASC",
          first: 50,
          skip: 0,
        },
        query: `query getList($where: ClothePropWhereInput, $search: String, $sortBy: [SortClothePropsBy!], $first: Int, $skip: Int) {
             allClotheProps(where: $where, search: $search, sortBy: $sortBy, first: $first, skip: $skip) {
               _label_  id  stringValue    intValue prop {id name} clothe {id file {publicUrl} location {name file {publicUrl}} _label_  __typename} __typename}
               _allClothePropsMeta(where: $where, search: $search) {count  __typename}
              }`,
      });
      for (let prop of this.props) {
        const foundValue = res.data.data.allClotheProps.find(
          (cp) => cp.prop.id == prop.id
        );
        if (foundValue) {
          prop.clotheProp = foundValue;
          if (prop.propertyType == "category" || prop.propertyType == "range") {
            prop.value = foundValue.stringValue;
          }
          if (prop.propertyType == "number") {
            prop.value = foundValue.intValue;
          }
        }
      }
    },
    async fillLocs() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          sortBy: "name_ASC",
        },
        query:
          "query getList($where: LocationWhereInput, $sortBy: [SortLocationsBy!]) { allLocations(where: $where, sortBy: $sortBy) {id name}}",
      });
      this.locations = res.data.data.allLocations;
    },
    async fillProps() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          sortBy: "name_ASC",
        },
        query:
          "query getList($where: PropWhereInput, $sortBy: [SortPropsBy!]) { allProps(where: $where, sortBy: $sortBy) {id name stringValues minimum maximum propertyType}}",
      });
      this.props = res.data.data.allProps.map((p) => {
        const pJ = JSON.parse(JSON.stringify(p));
        if (pJ.propertyType == "category") {
          pJ.stringValues = pJ.stringValues.split(",").map((cat) => cat.trim()).sort();
        }
        return pJ;
      });
    },
    async del() {
      this.dialogDel = false;
      const res = await axios.post("/api/", {
        operationName: "delete",
        variables: { id: this.id },
        query: `mutation delete($id: ID!) {
              deleteClothe(id: $id) {
              id
            }
          }`,
      });
      if (res?.data?.data?.deleteClothe) {
        router.push({
          name: "find",
          params: {
            category: this.props.find((p) => p.name == "Kategorija").value,
            location: this.location,
          },
        });
      }
    },
    fileChosen(event) {
      const input = event.target;
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = async (e) => {
          this.image = await resizeImage(e.target.result, 250, 250);
          this.imageWasChosen = true;
        };

        reader.readAsDataURL(input.files[0]);
      }
    },
    async save() {
      var bodyFormData = new FormData();
      const data = {
        operationName: this.id ? "update" : "create", // The name of the operation from the mutation above
        query: `mutation ${
          this.id ? "update($id: ID!," : "create("
        }$data: Clothe${this.id ? "Update" : "Create"}Input!) {  
            ${
              this.id ? " updateClothe(id: $id, " : "createClothe("
            }data: $data) {
              id
            }
          }`, // Const from above
        variables: {
          id: this.id,
          data: {
            location: {
              connect: {
                id: this.location,
              },
            },
            file: null, // Is always null
          },
        },
      };
      if (!this.imageWasChosen) {
        delete data.variables.data.file;
      }
      bodyFormData.append("operations", JSON.stringify(data));
      bodyFormData.append(
        "map",
        JSON.stringify({ 1: ["variables.data.file"] })
      );

      if (this.imageWasChosen) {
        bodyFormData.append("1", dataURItoBlob(this.image));
      }

      let response;
      if (this.imageWasChosen) {
        response = await axios({
          method: "post",
          url: "/api/",
          data: bodyFormData,
          headers: { "Content-Type": "multipart/form-data" },
        });
      } else {
        response = await axios.post("/api/", data);
      }
      let id;
      if (response.data?.data?.createClothe?.id) {
        id = response.data?.data?.createClothe?.id;
      }
      if (response.data?.data?.updateClothe?.id) {
        id = response.data?.data?.updateClothe?.id;
      }
      if (!id) {
        alert(response.data);
        return;
      }
      for (let prop of this.props.filter((p) => p.value)) {
        const data = {
          operationName: prop.clotheProp?.id ? "update" : "create", // The name of the operation from the mutation above
          query: `mutation ${
            prop.clotheProp?.id ? "update($id: ID!," : "create("
          }$data: ClotheProp${
            prop.clotheProp?.id ? "Update" : "Create"
          }Input!) {  
            ${
              prop.clotheProp?.id
                ? " updateClotheProp(id: $id, "
                : "createClotheProp("
            }data: $data) {
              id
            }
          }`,
          variables: {
            id: prop.clotheProp ? prop.clotheProp.id : undefined,
            data: {
              stringValue: ["range", "category"].includes(prop.propertyType)
                ? prop.value
                : undefined,
              intValue: ["number"].includes(prop.propertyType)
                ? parseInt(prop.value)
                : undefined,
              clothe: {
                connect: {
                  id: id,
                },
              },
              prop: {
                connect: {
                  id: prop.id,
                },
              },
            },
          },
        };
        response = await axios.post("/api/", data);
      }
      if (id) {
        router.push({
          name: "find",
          params: {
            category: this.props.find((p) => p.name == "Kategorija").value,
            location: this.location,
          },
        });
      }
    },
  },
  mounted() {
    this.fill();
  },
};

function resizeImage(url, width, height) {
  return new Promise((resolve) => {
    var sourceImage = new Image();

    sourceImage.onload = function() {
      // Create a canvas with the desired dimensions
      var canvas = document.createElement("canvas");
      canvas.width = width;
      canvas.height = height;

      // Scale and draw the source image to the canvas
      canvas.getContext("2d").drawImage(sourceImage, 0, 0, width, height);

      // Convert the canvas to a data URL in PNG format
      resolve(canvas.toDataURL());
    };

    sourceImage.src = url;
  });
}
</script>
