<template>
  <v-container>
    <v-row>
      <v-chip
        class="ma-2"
        close
        color="teal"
        text-color="white"
        v-for="filter in hrFilters"
        :key="filter.id"
        @click:close="deleteFilter()"
      >
        {{ filter.prop }}: {{ filter.value }}
      </v-chip>

      <v-menu top :close-on-content-click="false" v-model="filterMenuVisible">
        <template v-slot:activator="{ on, attrs }">
          <v-btn rounded small dark v-bind="attrs" class="mt-2" v-on="on">
            <v-icon>mdi-plus</v-icon>
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </template>

        <v-list v-if="props">
          <v-list-group
            v-for="prop in props.filter((p) => p.propertyType == 'category')"
            :key="prop.id"
            v-model="prop.active"
            no-action
          >
            <template v-slot:activator>
              <v-list-tile>
                <v-list-item-title>
                  {{ prop.name }}
                </v-list-item-title>
              </v-list-tile>
            </template>

            <v-list-item v-for="subItem in prop.stringValues" :key="subItem">
              <v-list-tile>
                <v-list-item-title @click="addFilter(prop, subItem)">
                  {{ subItem }}</v-list-item-title
                ></v-list-tile
              >
            </v-list-item>
          </v-list-group>

          <v-list-group v-model="locationActive" no-action>
            <template v-slot:activator>
              <v-list-tile>
                <v-list-item-title>
                  Atrodas
                </v-list-item-title>
              </v-list-tile>
            </template>

            <v-list-item v-for="loc in locations" :key="loc.id">
              <v-list-tile>
                <v-list-item-title @click="setLocationFilter(loc)">
                  {{ loc.name }}</v-list-item-title
                ></v-list-tile
              >
            </v-list-item>
          </v-list-group>

          <v-list-item
            v-for="prop in props.filter((p) => p.propertyType != 'category')"
            :key="prop.id"
          >
            <v-list-item-title>{{ prop.name }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-row>
    <v-row>
      <v-card class="d-flex flex-wrap" color="white" flat tile>
        <v-card
          v-for="cl in clothes"
          :key="cl.id"
          tile
          :elevation="cl == clotheSelected ? 24 : 0"
        >
          <v-card-text class="pa-2">
            <v-img
              max-height="150"
              max-width="150"
              :src="baseUrl + cl.file.publicUrl"
              @click="selectClothe(cl)"
            ></v-img>
          </v-card-text>
        </v-card>
      </v-card>
    </v-row>
    <v-bottom-sheet v-model="bottomSheetVisible">
      <v-sheet class="text-center" v-if="clotheSelected">
        <v-card class="mx-auto">
          <v-card-text>
            <v-row align="center" v-if="clotheSelected.props">
              <v-col cols="6">
                <v-chip
                  v-for="prop in clotheSelected.props"
                  :key="prop.id"
                  class="ma-2"
                >
                  {{ prop._label_ }}
                </v-chip>
              </v-col>
              <v-col cols="6">
                {{ clotheSelected.location.name }}
                <v-img
                  contain
                  float
                  height="250"
                  :src="baseUrl + clotheSelected.location.file.publicUrl"
                ></v-img>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-btn color="orange lighten-2" text> Uzvilkt </v-btn>
            <v-btn
              color="orange lighten-2"
              text
              :to="`/clothe/${clotheSelected.id}`"
            >
              Rediģēt
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-sheet>
    </v-bottom-sheet>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "clothes",
  props: {
    category: {
      type: String,
    },
    location: {
      type: String,
    },
  },
  mixins: [],
  components: {},
  data: () => {
    return {
      clothes: [{ file: {} }],
      filters: [],
      hrFilters: [],
      baseUrl: axios.defaults.baseURL + "../../",
      clotheSelected: null,
      bottomSheetVisible: false,
      filterMenuVisible: false,
      locations: [],
      location: null,
      locationActive: false,
    };
  },
  methods: {
    async filter() {
      const OR = [...this.filters];
      if (this.location) {
        OR.push();
      }
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          where: {
            OR,
            clothe: this.location
              ? { location: { id: this.location } }
              : undefined,
          },
          search: "",
          sortBy: "stringValue_ASC",
          first: 50,
          skip: 0,
        },
        query: `query getList($where: ClothePropWhereInput, $search: String, $sortBy: [SortClothePropsBy!], $first: Int, $skip: Int) {
             allClotheProps(where: $where, search: $search, sortBy: $sortBy, first: $first, skip: $skip) {
               _label_  id  stringValue    intValue clothe {id file {publicUrl} location {name file {publicUrl}} _label_  __typename} __typename}
               _allClothePropsMeta(where: $where, search: $search) {count  __typename}
              }`,
      });
      const dict = {};
      const tmp = [];
      for (let cp of res.data.data.allClotheProps) {
        if (!dict[cp.clothe.id]) {
          dict[cp.clothe.id] = 1;
          tmp.push(cp.clothe);
        } else {
          dict[cp.clothe.id]++;
        }
      }
      this.clothes = tmp.filter((cp) => dict[cp.id] == OR.length);
    },
    addFilter(prop, value) {
      this.filterMenuVisible = false;
      this.filters.push({
        prop: { id: prop.id },
        stringValue_i: value,
      });
      this.hrFilters.push({
        prop: prop.name,
        value: value,
      });
      if (prop.name == "Kategorija") {
        this.$root.$emit("category_change", value);
      }
      this.filter();
    },
    setLocationFilter(location) {
      if (!this.hrFilters.find((f) => f.prop == "Atrodas")) {
        this.hrFilters.push({
          prop: "Atrodas",
          value: location.name,
        });
      } else {
        this.hrFilters.find((f) => f.prop == "Atrodas").value = location.name;
      }
      this.location = location.id;
      this.locationActive = false;
      this.filterMenuVisible = false;
      this.$root.$emit("location_change", location.id);
      this.filter();
    },
    async fillProps() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          sortBy: "name_ASC",
        },
        query:
          "query getList($where: PropWhereInput, $sortBy: [SortPropsBy!]) { allProps(where: $where, sortBy: $sortBy) {id name stringValues minimum maximum propertyType}}",
      });
      this.props = res.data.data.allProps.map((p) => {
        const pJ = JSON.parse(JSON.stringify(p));
        if (pJ.propertyType == "category") {
          pJ.stringValues = pJ.stringValues.split(",").map((cat) => cat.trim());
        }
        return pJ;
      });
    },
    async selectClothe(clothe) {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          where: {
            clothe: {
              id: clothe.id,
            },
          },
          search: "",
          sortBy: "stringValue_ASC",
          first: 50,
          skip: 0,
        },
        query: `query getList($where: ClothePropWhereInput, $search: String, $sortBy: [SortClothePropsBy!], $first: Int, $skip: Int) {
             allClotheProps(where: $where, search: $search, sortBy: $sortBy, first: $first, skip: $skip) {
               _label_  id  stringValue    intValue prop {name} _label_  __typename}
               _allClothePropsMeta(where: $where, search: $search) {count  __typename}
              }`,
      });
      this.clotheSelected = clothe;
      this.clotheSelected.props = res.data.data.allClotheProps.map((cp) =>
        JSON.parse(JSON.stringify(cp))
      );
      this.bottomSheetVisible = true;
    },
    deleteFilter() {},
    async fillLocs() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          sortBy: "name_ASC",
        },
        query:
          "query getList($where: LocationWhereInput, $sortBy: [SortLocationsBy!]) { allLocations(where: $where, sortBy: $sortBy) {id name}}",
      });
      this.locations = res.data.data.allLocations;
    },
  },

  async mounted() {
    await this.fillProps();
    if (this.category) {
      this.addFilter(
        this.props.find((p) => p.name == "Kategorija"),
        this.category
      );
    }
    await this.fillLocs();
    if (this.location) {
      this.setLocationFilter(this.locations.find((l) => l.id == this.location));
    }
    this.filter();
  },
};
</script>
