<template>
  <div>
    <v-card class="d-flex flex-wrap" color="grey lighten-2" flat tile>
      <v-card v-for="cat in categories" :key="cat" tile flat :to="`/category/${cat}`">
        <v-card-text class="pa-2">
          <v-img
            lazy-src="https://picsum.photos/id/11/10/6"
            max-height="150"
            max-width="150"
            :src="`${baseUrl}categs/${cat}.jpg`"
          ></v-img>
          {{ cat }}
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "categories",
  mixins: [],
  components: {},
  data: () => {
    return {
      categories: [{}],
      baseUrl: axios.defaults.baseURL + "../../",
    };
  },
  methods: {
    async filter() {
      const res = await axios.post("/api/", {
        operationName: "getList",
        variables: {
          where: {
            name_i: "Kategorija",
          },
          sortBy: "name_ASC",
        },
        query:
          "query getList($where: PropWhereInput, $sortBy: [SortPropsBy!]) { allProps(where: $where, sortBy: $sortBy) {id name stringValues}}",
      });
      this.categories = res.data.data.allProps[0].stringValues
        .split(",")
        .map((cat) => cat.trim());
    },
  },
  mounted() {
    this.filter();
  },
};
</script>
