<template>
  <v-app>
    <v-main>
      <v-container fill-height>
        <router-view></router-view>
        <v-bottom-navigation v-model="value" fixed>
          <v-btn fab to="/">
            <span>Drēbes</span>

            <v-icon>mdi-hanger</v-icon>
          </v-btn>

          <v-btn fab to="/filter">
            <span>Filtrēt</span>
            <v-icon>mdi-filter</v-icon>
          </v-btn>
           <v-btn color="green" dark bottom right fab :to="`/clothe/?category=${category}&location=${location}`">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    category: null,
    location: null
  }),

  mounted(){
    this.$root.$on('category_change', (category) => {
      this.category = encodeURIComponent(category);
    })
    this.$root.$on('location_change', (location) => {
      this.location = location;
    })
  }
};
</script>
